# Archivos de configuración de VS Code
.vscode/

# Archivos de construcción de Gradle
.gradle/
build/

# Archivos de configuración de IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Archivos de configuración de NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Archivos generados por el compilador
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# Archivos de ayuda
HELP.md

# Excepciones para incluir archivos necesarios
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/
